<% content_for :page_title do %>
  <%= I18n.t(:'spree.editing_resource', resource: Spree::ProductProperty.model_name.human) %> <span class="green">"<%= @product_property.property.presentation %>"</span>
<% end %>

<% content_for :page_actions do %>
  <%= link_to I18n.t(:'spree.back_to_resource_list', resource: Spree::ProductProperty.model_name.human), spree.admin_product_product_properties_path(@product_property.product), class: 'btn btn-primary' %>
<% end %>

<%= render 'settings' %>

<div class="row translations">
  <div class="col-md-4">
    <%= render 'fields' %>
  </div>
  <div class="col-md-8">
    <%= form_for [:admin, @resource.product, @resource], method: :patch do |f| %>
      <%= render 'form_fields', f: f %>

      <div class="form-buttons filter-actions actions" data-hook="buttons">
        <%= button_tag t('spree.actions.update'), class: 'btn btn-primary' %>
        <%= link_to t('spree.actions.cancel'), spree.admin_product_product_properties_path(@product_property.product), class: 'button' %>
      </div>
    <% end %>
  </div>
</div>
