<% content_for :page_title do %>
  <%= I18n.t(:'spree.editing_resource', resource: Spree::Taxon.model_name.human) %>
<% end %>

<% content_for :page_actions do %>
  <%= link_to I18n.t(:'spree.back_to_resource_list', resource: Spree::Taxonomy.model_name.human), spree.admin_taxonomies_path, class: 'btn btn-primary' %>
<% end %>

<%= render 'settings' %>

<div class="row translations">
  <div class="col-md-4">
    <%= render 'fields' %>
  </div>
  <div class="col-md-8">
    <%= form_for [:admin, @resource.taxonomy, @resource], url: spree.admin_taxonomy_taxon_path(@taxon.taxonomy, @taxon.id) do |f| %>
      <%= render 'form_fields', f: f %>
      <div class="form-actions" data-hook="buttons">
        <%= button I18n.t(:'spree.update'), 'update' %>
        <span class="or"><%= I18n.t(:'spree.or') %></span>
        <%= link_to I18n.t(:'spree.cancel'), spree.edit_admin_taxonomy_url(@taxon.taxonomy) %>
      </div>
    <% end %>
  </div>
</div>
