<% content_for :page_title do %>
  <%= t(:'spree.editing_resource', resource: Spree::Taxon.model_name.human) %>
<% end %>

<% content_for :page_actions do %>
  <%= link_to t(:'spree.back_to_resource_list', resource: Spree::Taxonomy.model_name.human), spree.admin_taxonomies_path, class: 'btn btn-primary' %>
<% end %>

<%= render 'settings' %>

<div class="row translations">
  <div class="col-md-4">
    <%= render 'fields' %>
  </div>
  <div class="col-md-8">
    <%= form_for [:admin, @resource.taxonomy, @resource], url: spree.admin_taxonomy_taxon_path(@taxon.taxonomy, @taxon.id) do |f| %>
      <%= render 'form_fields', f: f %>

      <div class="form-buttons filter-actions actions" data-hook="buttons">
        <%= button_tag t('spree.actions.update'), class: 'btn btn-primary' %>
        <%= link_to t('spree.actions.cancel'), spree.edit_admin_taxonomy_url(@taxon.taxonomy), class: 'button' %>
      </div>
    <% end %>
  </div>
</div>
